<%= render "shared/form" %>
<%= render "shared/errors" %>

<div class="sign-up-pane">
	<h1>Sign Up</h1>

	<form class="sign-up-form" action="<%= users_url %>" method="post">
		<%= auth_token %>
		<label>Email
			<input type="text" name="user[email]" value="">
		</label>
		<label>Password
			<input type="password" name="user[password]" value="">
		</label>
		<input type="submit" value="Sign Up">
	</form>
</div>
