<% if current_user %>
	<form action="<%= session_url %>" method="POST">
		<%= auth_token %>
		<input type="hidden" name="_method" value="DELETE">
		<input type="submit" value="Sign Out">
	</form>
	<div><%= current_user.email %></div>
<% end %>
