// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account-main {
  width: 80%;
  display: block;
  margin: 0 auto;
  color: #333;
}

.account-main h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.account-spacer {
  display: block;
  height: 80px;
}

.black-nav {
  position: fixed;
	top: 0;
  z-index: 90px;
	width: 100%;
  height: 60px;
  background: black;
}

.account-footer {
  width: 100%;
  height: 200px;
	color: #333;
	background: #f3f3f3;
}

.account-pane {
  position: relative;
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
}

.account-section-heading {
  text-transform: uppercase;
  font-size: 18px;
  width: 20%;
  min-width: 200px;
  height: 80px;
  margin: 10px 0 0 0;
  display: block;
  float: left;
  color: #999;
  font-weight: 400;
}

.account-section-heading > strong {
  min-width: 75px;
  display: block;
}

.account-pane > strong {
  float: left;
  display: block;
  display: block;
  margin: auto;
  float: left;
}

.account-section-row {
  display: block;
  float: right;
  width: 78%;
  height: 20px;
  margin-top: 10px;
  color: #999;
}

.account-section-row > strong {
  color: #111;
  font-weight: bold;
}

.account-section-row > button {
  color: blue;
}

.account-section-row > button:hover {
  cursor: pointer;
}

.account-section-input {
  background: white;
  width: 300px;
  margin-left: 10px;
  float: left;
  padding: 3px;
}

.form-row {
  width: 150px;
  float: left;
}

.account-aside-button {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #111;
  margin-top: 15px;
  float: left;
  padding: 10px;
  background: #e6e6e6;
  box-shadow: 1px 2px 1px #999;
}

.account-aside-button:hover {
  background: #eee;
}

.account-item-left, .account-item-right {
  display: block;
}

.account-item-left {
  float:left;
  margin-left: 10px;
}

.account-item-right {
  float:right;
  margin-right: 10px;
}

.account-checkbox-container {
  height: auto;
}

.account-checkbox {
  float: left;
  display: block;
  margin: 5px 25px 5px 10px;
}

.account-checkbox-item {
  margin: 5px;
}

.as-area {
  height: 75px;
  max-width:300px;
}

.as-date {
  padding: 2px;
  width: auto;
}
