/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, header nav, a, h1, h2, h3, h4, h5, h6,
li, ul, ol, div, span, strong, main, section,
img, div, p, form, fieldset, label, input,
textarea, button, article, footer, small {
	vertical-align: baseline;
	font-weight: inherit;
	text-decoration: none;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	color: inherit;
	padding: 0;
	margin: 0;
	background: transparent;
	list-style: none;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 14px;
	color: #ccc;
	background: #f3f3f3;
}

.blur {
	-webkit-filter: blur(2px) brightness(0.5);
	filter: blur(2px) brightness(0.5);
}

.fader-enter {
	opacity: 0.01;
}
.fader-enter.fader-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fader-leave {
  opacity: 1;
}
.fader-leave.fader-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.preload-images {
	background:
		asset-url(homepage/Liquor1080) no-repeat -9999px -9999px,
		asset-url(homepage/Liquor1920) no-repeat -9999px -9999px,
		asset-url(homepage/Nuka1080) no-repeat -9999px -9999px,
		asset-url(homepage/Nuka1920) no-repeat -9999px -9999px,
		asset-url(homepage/Pepsi1080) no-repeat -9999px -9999px,
		asset-url(homepage/Pepsi1920) no-repeat -9999px -9999px,
		asset-url(homepage/Rabbit1080) no-repeat -9999px -9999px,
		asset-url(homepage/Rabbit1920) no-repeat -9999px -9999px,
		asset-url(BackGradiant) no-repeat -9999px -9999px,
		asset-url(nav-shadow) no-repeat -9999px -9999px;
	}
