/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html body, header nav, a, h1, h2, h3, h4, h5, h6,
li, ul, ol, div, span, strong, main, section,
img, div, p, form, fieldset, label, input, textarea,
button, article, footer, small {
	vertical-align: baseline;
	font-weight: inherit;
	text-decoration: none;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	color: inherit;
	padding: 0;
	margin: 0;
	background: transparent;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

.body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 16px;
	color: #ccc;
	background: #B9090B;
}

/*.admin-bar {
	background: #111;
	padding: 5px;
	width: 100%;
	color: white;
}

.admin-button {
	background: #B9090B;
	border: 0;
	padding: 5px;
	margin: 0 15px;
	border-radius: 5px;
	cursor: pointer;
	float: left;
	display: block;
}

.admin-button:hover {
	background: #Ad0C14;
}*/
