$buttonColor: #EAEAEA;
$buttonHover: #D1D1D1;
$buttonFocus: #B5B5B5;
$linkColor: blue;
$headerColor: #777;
$adflixRed: #b9090b;
$lightBackground: #f3f3f3;
$darkBackground: #141414;
$successGreen: #7ec780;
$successDarkGreen: #2b782d;
$failRed: #e3898a;

$speed: 500ms;
$bigFont: 2.4em;
$largeFont: 2em;
$mediumFont: 1.2em;
$smallFont: 0.9em;

$flix-row-padding: 5vw;
$flix-auto-spacer: 25px;

@mixin flix-height ($num-flix) {
  height: (((90vw - $num-flix) / $num-flix) / 3) * 2;
}

@mixin flix-width ($num-flix) {
  width: (90vw - $num-flix) / $num-flix;
}

@mixin flix-hover-height ($num-flix) {
  height: ((120vw / $num-flix) / 3) * 2;
}

@mixin flix-hover-width ($num-flix) {
  width: 120vw / $num-flix;
}

body { font-size: 5%; }
.flexible-flix-height {
  @include flix-height(3);
}
.flix {
  @include flix-width(3);
  @include flix-height(3);
}
.img-effect:hover {
  @include flix-hover-height(3);
  @include flix-hover-width(3);
}
@media (min-width: 800px) {
  body { font-size: 10%; }
  .flexible-flix-height {
    @include flix-height(4);
  }
  .flix {
    @include flix-width(4);
    @include flix-height(4);
  }
  .img-effect:hover {
    @include flix-hover-height(4);
    @include flix-hover-width(4);
  }
}
@media (min-width: 1300px) {
  body { font-size: 12px; }
  .flexible-flix-height {
    @include flix-height(5);
  }
  .flix {
    @include flix-width(5);
    @include flix-height(5);
  }
  .img-effect:hover {
    @include flix-hover-height(5);
    @include flix-hover-width(5);
  }
}
@media (min-width: 1800px) {
  body { font-size: 14px; }
  .flexible-flix-height {
    @include flix-height(6);
  }
  .flix {
    @include flix-width(6);
    @include flix-height(6);
  }
  .img-effect:hover {
    @include flix-hover-height(6);
    @include flix-hover-width(6);
  }
}
@media (min-width: 2300px) {
  body { font-size: 16px; }
  .flexible-flix-height {
    @include flix-height(7);
  }
  .flix {
    @include flix-width(7);
    @include flix-height(7);
  }
  .img-effect:hover {
    @include flix-hover-height(7);
    @include flix-hover-width(7);
  }
}
@media (min-width: 2800px) {
  body { font-size: 18px; }
  .flexible-flix-height {
    @include flix-height(8);
  }
  .flix {
    @include flix-width(8);
    @include flix-height(8);
  }
  .img-effect:hover {
    @include flix-hover-height(8);
    @include flix-hover-width(8);
  }
}

.transition-all {
  -webkit-transition: all 400ms cubic-bezier(.5,0,.1,1);
   -moz-transition: all 400ms cubic-bezier(.5,0,.1,1);
     -o-transition: all 400ms cubic-bezier(.5,0,.1,1);
        transition: all 400ms cubic-bezier(.5,0,.1,1);
}

.transition-all-fast {
  -webkit-transition: all 100ms ease-in;
   -moz-transition: all 100ms ease-in;
     -o-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
}

.transition-smooth-hover {
  -webkit-transition: background-image 300ms ease-in-out;
   -moz-transition: background-image 300ms ease-in-out;
     -o-transition: background-image 300ms ease-in-out;
        transition: background-image 300ms ease-in-out;
}

.index-row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: $flix-auto-spacer 0;
  overflow: hidden;
}

.index-row-inner {
  @extend .flexible-flix-height;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  align-content: center;
  margin-left: $flix-row-padding;
  -webkit-transition: transform 800ms ease-in-out;
   -moz-transition: transform 800ms ease-in-out;
     -o-transition: transform 800ms ease-in-out;
        transition: transform 800ms ease-in-out;
}

.index-row-arrows {
  @extend .flexible-flix-height;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: $flix-row-padding - 0.3vw;
  position: absolute;
  cursor: pointer;
  top: $flix-auto-spacer;
  z-index: 10;
}
.index-arrows-left {
  left:0;
}
.index-arrows-right {
  right:0;
}

.index-arrow-form {
  width: $flix-row-padding / 1.6;
  @extend .flexible-flix-height;
  opacity: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: width 300ms ease-in-out;
   -moz-transition: width 300ms ease-in-out;
     -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out;
}

.a-left {
  @extend .index-arrow-form;
  background-image: asset-url("index/leftarrow.svg");
}

.a-right {
  @extend .index-arrow-form;
  background-image: asset-url("index/rightarrow.svg");
}

.a-left:hover, .a-right:hover {
  width: $flix-row-padding / 1.2;
}

.index-row-caption {
  position: absolute;
  top: 0;
  left: $flix-row-padding;
  font-size: $mediumFont;
  color: $headerColor;
  text-transform: uppercase;
}

.scroll-to-index-bar {
  position: absolute;
  top:0;
  right: $flix-row-padding;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.scroll-to-index-bar > li {
  background-color: rgba(0,0,0,0.3);
  margin: $flix-auto-spacer / 6;
  width: $flix-auto-spacer;
  height: $flix-auto-spacer / 4;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease-in-out;
   -moz-transition: background-color 300ms ease-in-out;
     -o-transition: background-color 300ms ease-in-out;
        transition: background-color 300ms ease-in-out;
}

.scroll-to-index-bar > li:hover {
  background-color: rgba(0,0,0,0.7);
}

.scroll-to-index-bar > li.idx-focus {
  cursor: default;
  background-color: rgba(0,0,0,0.7);
}

.flix {
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  margin: 0 0.5vw;
  flex-shrink: 0;
  flex-grow: 1;
  @extend .transition-all;
}

.img-effect:hover {
  z-index: 25;
}

.flex-grow {
  width: 100%;
  height: 10px;
  flex-grow: 1;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-stretch {
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
}

.advert-detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend .flex-stretch;
  flex-direction: column;
  background-color: rgba(0,0,0,0.1);
  @extend .transition-all-fast;
}

.advert-play {
  @extend .flex-centered;
  @extend .flex-grow;
}

.advert-play-img {
  background-position: center;
  background-image: asset-url("index/playbuttongrey.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: $flix-row-padding;
  height: $flix-row-padding;
  @extend .transition-smooth-hover;
}

.advert-play-img:hover {
  background-image: asset-url("index/playbutton.svg");
}

.advert-modal {
  height: 10px;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  position: relative;
  padding: 0 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.3));
  z-index: 50;
}

.advert-modal-header {
  font-size: $mediumFont;
  font-weight: bolder;
  color: white;
}

.advert-modal-details {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.advert-modal-details > p {
  padding: 0 10px;
  font-size: $smallFont;
  font-weight: bold;
}

.advert-modal-desc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.advert-modal-desc > div {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
}

.advert-show-detail-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 2.5vw;
  background-image: asset-url('index/whitedownarrow.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @extend .transition-smooth-hover;
}

.advert-show-detail-btn:hover {
  background-image: asset-url('index/reddownarrow.svg');
}

.detail-my-list-btn {
  @extend .advert-play-img;
}

.plus {
  background-image: asset-url("index/whiteplus.svg");
  width: $mediumFont * 2;
  height: $mediumFont * 2;
}

.plus:hover {
  background-image: asset-url("index/blackplus.svg");
}

.check {
  background-image: asset-url("index/whitecheck.svg");
  width: $mediumFont * 2;
  height:$mediumFont * 2;
}

.check:hover {
  background-image: asset-url("index/blackcheck.svg");
}


.rating-features {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	position: relative;
}

.rate {
	flex-grow:0;
	flex-shrink: 0;
	flex-basis: auto;
	font-size: $mediumFont;
	cursor: pointer;
	color: #777;
}

.gold {
	color: gold;
}

.selected {
  box-sizing: border-box;
  border: 1vw solid $headerColor;
}

.review-star {
	color: $adflixRed;
}

.index-detail-pane {
  margin-top: $flix-auto-spacer;
  width: 100%;
	max-height: 500px;
	display: block;
	position: relative;
	background: #444;
  -webkit-transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
   -moz-transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
     -o-transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
        transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
}
