$buttonColor: #EAEAEA;
$buttonHover: #D1D1D1;
$buttonFocus: #B5B5B5;
$linkColor: blue;
$headerColor: #777;
$adflixRed: #b9090b;
$adflixRedHover: #e50914;
$lightBackground: #f3f3f3;
$darkBackground: #141414;
$successGreen: #7ec780;
$successDarkGreen: #2b782d;
$failRed: #e3898a;

$speed: 500ms;
$biggerFont: 3em;
$bigFont: 2.4em;
$largeFont: 2em;
$mediumFont: 1.2em;
$smallFont: 0.9em;

$flix-row-padding: 5vw;
$flix-auto-spacer: 25px;

@mixin flix-height ($num-flix) {
  height: (((90vw - $num-flix) / $num-flix) / 3) * 2;
}

@mixin flix-width ($num-flix) {
  width: (90vw - $num-flix) / $num-flix;
}

@mixin flix-hover-height ($num-flix) {
  height: ((120vw / $num-flix) / 3) * 2;
}

@mixin flix-hover-width ($num-flix) {
  width: 120vw / $num-flix;
}

body { font-size: 5%; }
.flexible-flix-height {
  @include flix-height(3);
}
.flix {
  @include flix-width(3);
  @include flix-height(3);
}
.img-effect:hover {
  @include flix-hover-height(3);
  @include flix-hover-width(3);
}
@media (min-width: 800px) {
  body { font-size: 10%; }
  .flexible-flix-height {
    @include flix-height(4);
  }
  .flix {
    @include flix-width(4);
    @include flix-height(4);
  }
  .img-effect:hover {
    @include flix-hover-height(4);
    @include flix-hover-width(4);
  }
}
@media (min-width: 1300px) {
  body { font-size: 12px; }
  .flexible-flix-height {
    @include flix-height(5);
  }
  .flix {
    @include flix-width(5);
    @include flix-height(5);
  }
  .img-effect:hover {
    @include flix-hover-height(5);
    @include flix-hover-width(5);
  }
}
@media (min-width: 1800px) {
  body { font-size: 14px; }
  .flexible-flix-height {
    @include flix-height(6);
  }
  .flix {
    @include flix-width(6);
    @include flix-height(6);
  }
  .img-effect:hover {
    @include flix-hover-height(6);
    @include flix-hover-width(6);
  }
}
@media (min-width: 2300px) {
  body { font-size: 16px; }
  .flexible-flix-height {
    @include flix-height(7);
  }
  .flix {
    @include flix-width(7);
    @include flix-height(7);
  }
  .img-effect:hover {
    @include flix-hover-height(7);
    @include flix-hover-width(7);
  }
}
@media (min-width: 2800px) {
  body { font-size: 18px; }
  .flexible-flix-height {
    @include flix-height(8);
  }
  .flix {
    @include flix-width(8);
    @include flix-height(8);
  }
  .img-effect:hover {
    @include flix-hover-height(8);
    @include flix-hover-width(8);
  }
}

.transition-all-fast {
  -webkit-transition: all 100ms ease-in;
   -moz-transition: all 100ms ease-in;
     -o-transition: all 100ms ease-in;
        transition: all 100ms ease-in;
}

.transition-smooth-hover {
  -webkit-transition: background-image 300ms ease-in-out;
   -moz-transition: background-image 300ms ease-in-out;
     -o-transition: background-image 300ms ease-in-out;
        transition: background-image 300ms ease-in-out;
}

.index-row {
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  max-height: 200vh;
  height: auto;
  position: relative;
  padding: $flix-auto-spacer 0;
  -webkit-transition: opacity 1s ease-in,
                    max-height 2s ease-in,
                    padding 500ms;
   -moz-transition: opacity 1s ease-in,
                    max-height 2s ease-in,
                    padding 500ms;
     -o-transition: opacity 1s ease-in,
                    max-height 2s ease-in,
                    padding 500ms;
        transition: opacity 1s ease-in,
                    max-height 2s ease-in,
                    padding 500ms;
}

.index-row-inner {
  @extend .flexible-flix-height;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
  align-content: center;
  margin-left: $flix-row-padding;
  -webkit-transition: transform 400ms ease-in-out;
   -moz-transition: transform 400ms ease-in-out;
     -o-transition: transform 400ms ease-in-out;
        transition: transform 400ms ease-in-out;
}

.index-row-arrows {
  @extend .flexible-flix-height;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: $flix-row-padding - 0.3vw;
  position: absolute;
  cursor: pointer;
  top: $flix-auto-spacer;
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity 400ms ease;
   -moz-transition: opacity 400ms ease;
     -o-transition: opacity 400ms ease;
        transition: opacity 400ms ease;
}
.index-arrows-left {
  left:0;
}
.index-arrows-right {
  right:0;
}

.index-arrow-form {
  width: $flix-row-padding / 1.6;
  @extend .flexible-flix-height;
  opacity: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: width 300ms ease-in-out;
   -moz-transition: width 300ms ease-in-out;
     -o-transition: width 300ms ease-in-out;
        transition: width 300ms ease-in-out;
}

.a-left {
  @extend .index-arrow-form;
  background-image: asset-url("index/leftarrow.svg");
}

.a-right {
  @extend .index-arrow-form;
  background-image: asset-url("index/rightarrow.svg");
}

.a-left:hover, .a-right:hover {
  width: $flix-row-padding / 1.2;
}

.index-row-caption {
  position: absolute;
  top: 0;
  left: $flix-row-padding;
  font-size: $mediumFont;
  color: $headerColor;
  text-transform: uppercase;
}

.scroll-to-index-bar {
  position: absolute;
  top:0;
  right: $flix-row-padding;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.scroll-to-index-bar > li {
  background-color: rgba(0,0,0,0.3);
  margin: $flix-auto-spacer / 6;
  width: $flix-auto-spacer;
  height: $flix-auto-spacer / 4;
  cursor: pointer;
  -webkit-transition: background-color 300ms ease-in-out;
   -moz-transition: background-color 300ms ease-in-out;
     -o-transition: background-color 300ms ease-in-out;
        transition: background-color 300ms ease-in-out;
}

.scroll-to-index-bar > li:hover {
  background-color: rgba(0,0,0,0.7);
}

.scroll-to-index-bar > li.idx-focus {
  cursor: default;
  background-color: rgba(0,0,0,0.7);
}

.flix {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  -webkit-transition: width 400ms cubic-bezier(.5,0,.1,1),
                      height 400ms cubic-bezier(.5,0,.1,1);
   -moz-transition: width 400ms cubic-bezier(.5,0,.1,1),
                    height 400ms cubic-bezier(.5,0,.1,1);
     -o-transition: width 400ms cubic-bezier(.5,0,.1,1),
                    height 400ms cubic-bezier(.5,0,.1,1);
        transition: width 400ms cubic-bezier(.5,0,.1,1),
                    height 400ms cubic-bezier(.5,0,.1,1);
}

.flix-container {
  background: #777;
  position: relative;
  margin: 0 0.5vw;
}

.adblocked {
  background-image: asset-url('index/adblockmessage.svg');
}

.adblocked:hover {
  background-size: cover;
  background-repeat: no-repeat;
}

.img-effect:hover {
  z-index: 25;
}

.flex-grow {
  width: 100%;
  height: 10px;
  flex-grow: 1;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flex-stretch {
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
}

.advert-detail {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @extend .flex-stretch;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  @extend .transition-all-fast;
}

.advert-play {
  @extend .flex-centered;
  @extend .flex-grow;
}

.advert-play-img {
  background-position: center;
  background-image: asset-url("index/playbuttongrey.svg");
  background-repeat: no-repeat;
  background-size: cover;
	cursor: pointer;
  width: $flix-row-padding;
  height: $flix-row-padding;
  @extend .transition-smooth-hover;
}

.advert-play-img:hover {
  background-image: asset-url("index/playbutton.svg");
}

.advert-modal {
  height: 10px;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  position: relative;
  padding: 0 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  background: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.3));
  z-index: 50;
}

.advert-modal-header {
  font-size: $mediumFont;
  font-weight: bolder;
  color: white;
}

.advert-modal-details {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.advert-modal-details > p {
  padding: 0 10px;
  font-size: $mediumFont;
}

.advert-modal-desc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.advert-modal-desc > div {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
}

.advert-show-detail-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 2.5vw;
  background-image: asset-url('index/whitedownarrow.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  @extend .transition-smooth-hover;
}

.advert-show-detail-btn:hover {
  background-image: asset-url('index/reddownarrow.svg');
}

.plus {
  background-image: asset-url("index/whiteplus.svg");
  width: $biggerFont;
  height: $biggerFont;
}

.plus:hover {
  background-image: asset-url("index/blackplus.svg");
}

.check {
  background-image: asset-url("index/whitecheck.svg");
  width: $biggerFont;
  height: $biggerFont;
}

.check:hover {
  background-image: asset-url("index/blackcheck.svg");
}

.plus {
  background-image: asset-url("index/whiteplus.svg");
}

.plus:hover {
  background-image: asset-url("index/blackplus.svg");
}

.check {
  background-image: asset-url("index/whitecheck.svg");
}

.check:hover {
  background-image: asset-url("index/blackcheck.svg");
}

.rating-features {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	position: relative;
}

.rate {
	flex-grow:0;
	flex-shrink: 0;
	flex-basis: auto;
	font-size: $mediumFont;
	cursor: pointer;
	color: #777;
}

.gold {
	color: gold;
}

.selected {
  border: 0.5vw solid $headerColor;
  margin: 0.5vw 0;
}

.selected:after {
  content: "";
  position: absolute;
  bottom: -1vw;
  width: 0px;
  left: 45%;
  border-top: 1vw solid $headerColor;
  border-right: 1vw solid transparent;
  border-left: 1vw solid transparent;
}

.review-star {
	color: $adflixRed;
}

.index-detail-pane {
  margin-top: 1vw;
  width: 100%;
  height: 500px;
	max-height: 500px;
	display: block;
	position: relative;
  overflow: hidden;
  -webkit-transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
   -moz-transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
     -o-transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
        transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
}

.ad-review-main {
	margin: auto;
	height: 375px;
	top: 90px;
  right: $flix-row-padding;
  left: $flix-row-padding;
  overflow: hidden;
	position: absolute;
	z-index: 60;
	box-sizing: border-box;
}

.my-word-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
  margin: 0.2em;
  padding: 0 0.3em;
  -webkit-transition: background-color 300ms ease-in-out;
   -moz-transition: background-color 300ms ease-in-out;
     -o-transition: background-color 300ms ease-in-out;
        transition: background-color 300ms ease-in-out;
}

.light-box {
  border: 1px solid rgba(0,0,0,0.6);
  background-color: rgba(255,255,255,0.3);
}

.light-box:hover {
  background-color: rgba(255,255,255,0.4);
}

.red-box {
  border: 1px solid rgba(0,0,0,0.6);
  background-color: $adflixRed;
}
.red-box:hover {
  background-color: $adflixRedHover;
}

.my-word-box > p {
  color: #ccc;
  margin: 0 0.5em;
  font-size: 1em;
}

.ad-overview-btns {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin-top: 0.5em;
}

.detail-my-list-btn {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	cursor: pointer;
  width: $largeFont;
  height: $largeFont;
  @extend .transition-smooth-hover;
}

.plus-btn {
  background-image: asset-url("index/whiteplus.svg");
}

.plus-btn-hover {
  background-image: asset-url("index/blackplus.svg");
}

.check-btn {
  background-image: asset-url("index/whitecheck.svg");
}

.check-btn-hover {
  background-image: asset-url("index/blackcheck.svg");
}

.play-btn {
  background-image: asset-url("index/playbuttongrey.svg");
}

.play-btn-hover {
  background-image: asset-url("index/playbutton.svg");
}

.acc-show {
  max-height: 200vh;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out,
                      max-height 300ms ease-in-out;
   -moz-transition: opacity 300ms ease-in-out,
                    max-height 300ms ease-in-out;;
     -o-transition: opacity 300ms ease-in-out,
                    max-height 300ms ease-in-out;;
        transition: opacity 300ms ease-in-out,
                    max-height 300ms ease-in-out;;
}

.feature-title {
	position: absolute;
	top: 30px;
  cursor: default;
	left: $flix-row-padding;
	display: block;
	box-sizing: border-box;
	text-shadow: 3px 3px 20px black;
	font-size: $biggerFont;
	font-weight: bold;
	z-index: 40;
}

.ad-display-container {
	width: 400px;
	height: auto;
	position: absolute;
	font-size: $mediumFont;
	top: 80px;
	left: $flix-row-padding;
	color: rgba(255,255,255,0.4);
	z-index: 50;
	opacity: 1;
}

.index-header-arrow {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: $flix-row-padding;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  z-index: 90;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
   -moz-transition: opacity 300ms ease;
     -o-transition: opacity 300ms ease;
        transition: opacity 300ms ease;
}

.nav-menu {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 60px;
  z-index: 200;
  background-color: rgba(0,0,0,0.7);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 10%, transparent)
}

$navWidth: 20em;

.nav-left-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
}

.nav-profile {
  width: $navWidth;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.nav-profile-thumb {
  background-image: asset-url('signin/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 3em;
  height: 3em;
  margin: 1em;
  flex-grow: 0;
}

.nav-email {
	font-size: $mediumFont;
	font-weight: bold;
	flex-grow: 1;
	color: $headerColor;
}

.nav-profile-dropdown {
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  padding-top: 60px;
  top: 0;
  right: $flix-row-padding;
  width: $navWidth;
  min-height: 60px;
}

.nav-dropdown-list {
  background: rgba(0, 0, 0, 0.7);
  opacity: 1;
  max-height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  -webkit-transition: max-height 800ms cubic-bezier(0.5,0,0.1,1);
   -moz-transition: max-height 800ms ease-in, opacity 300ms;
     -o-transition: max-height 800ms ease-in, opacity 300ms;
        transition: max-height 800ms ease-in, opacity 300ms;
}

.nav-dropdown-items {
  position: relative;
  width: 100%;
  font-size: $mediumFont;
  padding: 1.5em 3em;
  cursor: pointer;
}

.nav-dropdown-items:hover {
  background: rgba(50, 50, 50, 0.5);
}

.nav-logo {
	height: 35px;
	width: 120px;
	cursor: pointer;
}
