// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-in-header {
	width: 100%;
	height: 650px;
	display:block;
	background-size: cover;
	background-image: asset-url("signin/Daredevil.jpg");
	border: 1px solid transparent;
}

.sign-in-pane {
	width: 360px;
	color: #333;
	height: auto;
	position: relative;
	background: #eee;
	margin: 0 auto;
	padding: 20px;
}

.sign-in-pane h1 {
	font-size: 36px;
	display: block;
	padding-bottom: 20px;
	text-transform: uppercase;
}

.sign-in-text label {
	display: block;
}

.sign-in-input {
	width: 340px;
	display: block;
	background: white;
	padding: 10px;
}

.sign-in-forgot {
	text-align: right;
	color: blue;
}

.flash-message {
	color: red;
	font-size: 14px;
	font-weight: bold;
	animation: fadein 500ms;
	position: relative;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.sign-in-button {
	width: 360px;
	height: 70px;
	z-index: 1;
	display: block;
	margin-bottom: 10px;
}

.sign-in-adflix:hover {
	cursor: pointer;
	background: #e50914;
}

.sign-in-adflix:focus {
	background: #690c0d;
}

.sign-in-robot {
	position: absolute;
	left: -140px;
	top: 255px;
	height: 250px;
	width: 200px;
	background-image: asset-url("signin/robot.png");
	background-size:contain;
	background-repeat: no-repeat;
}

.new-session-background {
	height: 100vh;
	background-image: asset-url("signin/Ads_DkBlur_1080.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.sign-in-adflix {
	text-align: center;
	color: white;
	background: #B9090B;
}

.sign-in-facebook {
	background-image: asset-url("signin/facebook.svg");
	background-size:cover;
	background-repeat: no-repeat;
}

.sign-in-facebook:hover {
	background-image: asset-url("signin/facebookHover.svg");
}

.sign-in-google {
	background-image: asset-url("signin/googleplus.svg");
	background-size: cover;
	background-repeat: no-repeat;
}
