// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-header {
	width: 100%;
	height: 55%;
	background-size: cover;
	background-image: asset-url("homepage/OutsideLarge.jpg");
	position: relative;
	border: 1px solid transparent;
}

.logo {
	display: block;
	height: 50px;
	width: 170px;
	margin: 10px 30px;
	background: asset-url("AdFlixLogo.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.logo-small {
	height: 35px;
	width: 120px;
}

.cta-wrapper {
	margin: 200px 30px;
}

.cta-text {
	color: white;
}

.cta-pitch {
	font-size: 46px;
	font-weight: bold;
}

.cta-pricing {
	font-size: 24px;
}

.cta-wrapper a {
	display: block;
	font-size: 20px;
	text-align: center;
	width: 300px;
	padding: 10px;
	color: white;
	text-transform: uppercase;
	background: #B9090B;
}

.sign-in {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0px solid #B9090B;
	border-radius: 5px;
	display:block;
	background: #B9090B;
	color: white;
	padding: 10px 20px;
}

.main-index-header {
	display: block;
	width: 100%;
	height: 500px;
	background: #444;
}

.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	min-height: 40px;
	align-items: center;
	display: flex;
	padding: 0 4%;
	white-space: nowrap;
	box-sizing: border-box;
	// transition-property: opacity;
	// transition-duration: 0.4s;
	// transition-timing-function: cubic-bezier(0.665, 0.253, 0.265, 0.8);
	background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
	transition-delay: 0s;
}

.main-index-body {
	background: #141414;
}

.row-bar {
	width:100%;
	height:210px;
	padding-left: 20px;
	// background: #777;
	overflow: hidden;
	position: relative;
	margin-top:30px;
}

.row-extend {
	height: 695px;
	z-index: 0;
	transition: height .54s cubic-bezier(.5,0,.1,1) 0s,opacity .44s cubic-bezier(.5,0,.1,1) .1s
}

.row-caption {
	position:absolute;
	top: 0;
	left: 10px;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.fliximg{
	float:left;
	width:200px;
	height:150px;
	position: relative;
	z-index: 3;
	background:#B9090B;
	margin:30px 5px;
	transition: width .5s, height .5s, margin .5s;
}

.fliximg-effect:hover {
	width: 280px !important;
	height: 210px !important;
	margin: 0px 20px;
}

.main-footer {
	width: 100%;
	height: 70px;
	color: gray;
	background: #141414;
	display: block;
}

.ad-detail-pane {
	width: 100%;
	box-sizing: border-box;
	height: 500px;
	position: relative;
	background: #333;
}

.ad-detail-pane-box {
	position: absolute;
	box-sizing: border-box;
	padding: 0 25px;
	width: 100%;
	top: 190px;
	left:0;
	z-index:3;
}

.ad-detail-button {
	position: absolute;
	z-index: 5;
	display: block;
	top: 100%;
	width: 100%;
	margin: -30px auto 0 auto;
	height: 30px;
	color: white;
	background: #999;
}

.back-grade {
	background-image: asset-url("BackGradiant.png");
	background-size: cover;
	height: 100%;
	width: 600px;
}

.top-right-x {
	position: absolute;
	top: 20px;
	right: 25px;
	border: 1px dashed white;
	padding: 5px;
	font-weight: bold;
}

.slick-dots {
	position: absolute;
	// color: #ccc;
	top: 0;
	right: 0;
	bottom: auto;
	text-align: right;
}

.slick-next, .slick-prev {
	width: 200px;
	z-index: 10;
	position: absolute;
	height: 0px;
}
