// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-header {
	width: 100%;
	height: 55%;
	background-size: cover;
	background-image: asset-url("homepage/OutsideLarge.jpg");
	position: relative;
	border: 1px solid transparent;
}

.logo {
	display: block;
	height: 50px;
	width: 170px;
	margin: 10px 30px;
	background: asset-url("AdFlixLogo.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.cta-wrapper {
	margin: 200px 30px;
}

.cta-text {
	color: #ccc;
}

.cta-pitch {
	font-size: 46px;
	font-weight: bold;
}

.cta-pricing {
	font-size: 24px;
}

.cta-sign-up {
	display: block;
	font-size: 20px;
	text-align: center;
	width: 300px;
	padding: 10px;
	color: #ccc;
	text-transform: uppercase;
	background: #B9090B;
}

.cta-sign-in {
	position: absolute;
	top: 10px;
	right: 10px;
	border: 0px solid #B9090B;
	border-radius: 5px;
	display:block;
	background: #B9090B;
	color: #ccc;
	padding: 10px 20px;
}

.main-nav-background {
	display: block;
	height: 60px;
}

.main-index-header {
	display: block;
	position: relative;
	width: 100%;
	height: 500px;
	background: #444;
}

.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	overflow: hidden;
	max-height: 60px;
	align-items: center;
	padding: 0 4%;
	white-space: nowrap;
	// border: 1px solid red;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.nav-search {
	display: block;
	float: right;
	padding: 10px;
	// border: 1px solid red;
	margin: 10px 0px 10px 30px;
}

.nav-profile-menu {
	display: block;
	float: right;
	padding: 10px;
	margin: 10px 0px 10px 30px;
	width: 150px;
	padding: 0;
}

.nav-profile-dropdown {
	display: block;
	float: right;
	height: 250px;
	width: 150px;
	position: fixed;
	top: 0px;
	right: 50px;
}

.nav-menu-fill {
	position: relative;
	display: block;
	border: 1px solid #333;
	width: 150px;
	height: 185px;
	background: #111;
	// background-color:rgba(0, 0, 0, 0.5);
}

.sixty-pix {
	display: block;
	height: 60px;
	width: 150px;
	position: relative;
}

.nav-white-bar {
	display: block;
	height: 2px;
	width: 100%;
	background: #f3f3f3;
}

.nav-white-arrow {
	position: relative;
	display: block;
	margin:auto;
	top: 52px;
	width: 1px;
	height: 1px;
	border-bottom: 8px solid #f3f3f3;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.nav-profile-thumb {
	background-image: asset-url('signin/profile.png');
	width: 30px;
	height: 30px;
	margin: 4px;
	display: block;
	float:left;
}

.nav-user {
	display: block;
	float: left;
	font-size: 12;
	font-weight: bold;
	color: #f3f3f3;
	margin: 10px 5px;
}

.nav-profile-item {
	width: 150px;
	height: 40px;
	float: left;
	color: #ccc;
	padding: 10px;
	font-size: 14px;
	text-align: center;
}

.nav-profile-item:hover {
	background: #333;
}

.nav-logo {
	float: left;
	height: 35px;
	width: 120px;
}

.main-index-body {
	background: #141414;
}

.row-bar {
	width:100%;
	height:210px;
	padding-left: 20px;
	overflow: hidden;
	position: relative;
	margin-top:30px;
}

.row-extend {
	height: 695px;
	z-index: 0;
	transition: height .54s cubic-bezier(.5,0,.1,1) 0s,opacity .44s cubic-bezier(.5,0,.1,1) .1s
}

.row-caption {
	position:absolute;
	top: 0;
	left: 10px;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.fliximg{
	float:left;
	width:200px;
	height:150px;
	position: relative;
	z-index: 3;
	background:#B9090B;
	margin:30px 5px;
	transition: width .5s, height .5s, margin .5s;
}

.fliximg-effect:hover {
	width: 280px !important;
	height: 210px !important;
	margin: 0px 20px;
}

.main-footer {
	width: 100%;
	height: 70px;
	color: gray;
	background: #141414;
	display: block;
}

.ad-detail-pane {
	width: 100%;
	box-sizing: border-box;
	height: 500px;
	position: relative;
	background: #333;
}

.ad-detail-pane-box {
	position: absolute;
	box-sizing: border-box;
	padding: 0 25px;
	width: 100%;
	top: 190px;
	left:0;
	z-index:3;
}

.ad-detail-button {
	position: absolute;
	z-index: 5;
	display: block;
	top: 100%;
	width: 100%;
	margin: -30px auto 0 auto;
	height: 30px;
	color: #ccc;
	background: #999;
}

.back-grade {
	background-image: asset-url("BackGradiant.png");
	background-size: cover;
	height: 100%;
	width: 600px;
}

.bottom-grade {
	background-image: asset-url("nav-shadow.png");
	background-size: cover;
	position: absolute;
	bottom:0px;
	left: 0px;
	height: 150px;
	width: 100%;
}

.top-right-x {
	position: absolute;
	top: 20px;
	right: 25px;
	// border: 1px solid red;
	padding: 5px;
	font-weight: bold;
}

.ad-display-container {
	width: 450px;
	height: 450px;
	// border: 1px solid red;
	position: absolute;
	top: 70px;
	left: 50px;
	color: #ccc;
}

.fader-enter {
  opacity: 0.01;
}
.fader-enter.fader-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fader-leave {
  opacity: 1;
}
.fader-leave.fader-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.ad-display-nav {
	position: absolute;
	left: 500px;
	bottom: 0;
	z-index: 2;
}

.ad-display-nav > button {
	float: left;
	color: #ccc;
	text-transform: uppercase;
	font-size: 14px;
	padding: 5px 25px;
}

.ad-display-nav > button:hover {
	color: #f3f3f3;
	text-shadow: 0 0 1px #f3f3f3;
}


.slick-dots {
	position: absolute;
	color: #ccc !important;
	top: 0;
	right: 0;
	bottom: auto;
	text-align: right;
}

.slick-next, .slick-prev {
	width: 200px;
	z-index: 10;
	position: absolute;
	height: 0px;
}

.header-spacer {
	// border: 1px solid red;
	width: 50px;
	height: 500px;
	position: absolute;
	top:0;
}

.header-left-arrow {
	left: 0px;
}

.header-right-arrow {
	right: 0px;
}

.header-info-container {
	width: 550px;
	box-sizing: border-box;
	height: 330px;
	// border: 1px solid red;
	position: absolute;
	top: 170px;
	left: 50px;
	color: #ccc;
}

.feature-title {
	position: absolute;
	top: 15px;
	left: 50px;
	display: block;
	box-sizing: border-box;
	font-size: 48px;
	font-weight: bold;
	width: 100%;
	// margin: 0 0 0 50px;
	// border: 1px solid red;
}

.feature-info-bar > li {
	// border: 1px solid red;
	display: block;
	float: left;
	padding: 5px;
}

.feature-description {
	// border: 1px solid red;
	box-sizing: border-box;
}

.more-features {
	// border: 1px solid red;
	padding: 5px;
	box-sizing: border-box;
	position: relative;
}
