// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$speed: 500ms;
$biggerFont: 3em;
$bigFont: 2.4em;
$largeFont: 2em;
$mediumFont: 1.2em;
$smallFont: 0.9em;

.homepage-header {
	width: 100%;
	height: 55%;
	position: relative;
	border: 1px solid transparent;
	transition: background 1s ease-in;
}

.transition-all {
  -webkit-transition: all 500ms ease-in;
   -moz-transition: all 500ms ease-in;
     -o-transition: all 500ms ease-in;
        transition: all 500ms ease-in;
}

.transition-all-fast {
  -webkit-transition: all 500ms ease-in;
   -moz-transition: all 500ms ease-in;
     -o-transition: all 500ms ease-in;
        transition: all 500ms ease-in;
}

.pepsi-header {
	background-image: asset-url("homepage/Pepsi1920.jpg");
	background-size: cover;
}

.nuka-header {
	background-image: asset-url("homepage/Nuka1920.jpg");
	background-size: cover;
}

.liquor-header {
	background-image: asset-url("homepage/Liquor1920.jpg");
	background-size: cover;
}

.rabbit-header {
	background-image: asset-url("homepage/Rabbit1920.jpg");
	background-size: cover;
}

@media (max-width: 1080px) {
	.rabbit-header {
		background-image: asset-url("homepage/Rabbit1080.jpg");
	}
	.liquor-header {
		background-image: asset-url("homepage/Liquor1080.jpg");
	}
	.nuka-header {
		background-image: asset-url("homepage/Nuka1080.jpg");
	}
	.pepsi-header {
		background-image: asset-url("homepage/Pepsi1080.jpg");
	}
}

.logo {
	display: block;
	height: 50px;
	width: 170px;
	margin: 10px 30px;
	background: asset-url("AdFlixLogo.svg");
	background-size: cover;
	background-repeat: no-repeat;
}

.home-wrapper {
	margin: 200px 30px;
}

.home-text {
	color: #ccc;
	text-shadow: 2px 2px 6px black;
}

.home-pitch {
	font-size: $bigFont;
	font-weight: bold;
}

.home-pricing {
	font-size: $bigFont;
}

.home-sign-up {
	text-align: center;
	width: 300px;
}

.home-sign-in {
	position: absolute;
	top: 3%;
	left: 89%;
}

.home-button {
	color: white;
	text-transform: uppercase;
	background: #E50914;
	display: block;
	padding: 10px 20px;
}
.home-button:hover {
	background: #f40612;
	cursor: pointer;
}

.main-nav-background {
	display: block;
	height: 60px;
}


.main-index-header {
	display: block;
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	height: 500px;
	overflow: hidden;
	box-sizing: border-box;
	background: #444;
}

.homepage-bar {
	margin: 0 auto;
	width: 35%;
}

.homepage-bar-item {
	width: 100%;
}

.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	padding: 0 4%;
	white-space: nowrap;
	box-sizing: border-box;
	background-image: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}

.nav-search {
	display: block;
	float: right;
	padding: 10px;
	margin: 10px 0px 10px 30px;
}

.nav-profile-menu {
	display: block;
	float: right;
	padding: 10px 0;
	margin: 10px 0px 10px 30px;
	width: 170px;
	padding: 0;
}

.nav-profile-dropdown {
	display: block;
	float: right;
	height: 250px;
	width: 170px;
	position: fixed;
	top: 0px;
	right: 50px;
}

.nav-menu-fill {
	position: relative;
	display: block;
	border: 1px solid #333;
	width: inherit;
	height: 185px;
	background: #111;
	// background-color:rgba(0, 0, 0, 0.5);
}

.sixty-pix {
	display: block;
	height: 60px;
	width: inherit;
	position: relative;
}

.nav-white-bar {
	display: block;
	height: 2px;
	width: 100%;
	background: #f3f3f3;
}

.nav-white-arrow {
	position: relative;
	display: block;
	margin:auto;
	top: 52px;
	width: 1px;
	height: 1px;
	border-bottom: 8px solid #f3f3f3;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}

.nav-profile-thumb {
	background-image: asset-url('signin/profile.png');
	width: 30px;
	height: 30px;
	margin: 4px 4px 4px 0;
	display: block;
	float:left;
}

.nav-user {
	display: block;
	float: left;
	font-size: $smallFont;
	font-weight: bold;
	width: 120px;
	overflow: hidden;
	color: #f3f3f3;
	margin: 10px 5px;
}

.nav-profile-item {
	width: inherit;
	height: 40px;
	float: left;
	color: #ccc;
	padding: 10px;
	font-size: $mediumFont;
	text-align: center;
}

.nav-profile-item:hover {
	background: #333;
}

.nav-logo {
	float: left;
	height: 35px;
	width: 120px;
}

.main-index-body {
	background: #141414;
}

.row-bar {
	width:95%;
	padding-left: 20px;
	overflow: hidden;
	position: relative;
	height: 210px;
	-webkit-animation: flixdropin 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: flixdropin 1s; /* Firefox < 16 */
      -ms-animation: flixdropin 1s; /* Internet Explorer */
       -o-animation: flixdropin 1s; /* Opera < 12.1 */
          animation: flixdropin 1s;
	transition: height 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s, opacity 0.44s cubic-bezier(0.5, 0, 0.1, 1) 0.1s;
}

.row-extend {
	height: 695px;
	z-index: 0;
	transition: height 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s, opacity 0.44s cubic-bezier(0.5, 0, 0.1, 1) 0.1s;
}

.row-caption {
	position:absolute;
	top: 0;
	left: 10px;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.fliximg{
	float:left;
	width:200px;
	height:150px;
	position: relative;
	z-index: 3;
	background-image: asset-url("demo.jpg");
	background-size: cover;
	margin:30px 5px;
	transition: width, height, margin, background-image, .5s;
	-webkit-animation: flixdropin 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: flixdropin 1s; /* Firefox < 16 */
	-ms-animation: flixdropin 1s; /* Internet Explorer */
	-o-animation: flixdropin 1s; /* Opera < 12.1 */
	animation: flixdropin 1s;
}

.fliximg-effect:hover {
	width: 280px !important;
	height: 210px !important;
	margin: 0px 20px;
}

@keyframes flixdropin {
	from { transform: scaleY(0) }
	to { transform: scaleY(1) }
}

@keyframes flixdropout {
	from { transform: scaleY(1) }
	to { transform: scaleY(0) }
}

.add-play-button {
	width: 30%;
	position: absolute;;
	top: 50px;
	left: 75px;
	background-image: asset-url("playbutton.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.main-footer {
	width: 100%;
	height: 70px;
	color: gray;
	background: #141414;
	display: block;
}

.ad-detail-button {
	position: absolute;
	z-index: 5;
	display: block;
	top: 100%;
	width: 100%;
	margin: -30px auto 0 auto;
	height: 30px;
	color: #ccc;
	background: trasparent;
}

.top-right-x {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 3px;
	z-index: 60;
	font-size: 4.5em;
	color: #ccc;
	cursor: pointer;
	position: absolute;
}

.ad-display-container {
	width: 400px;
	height: auto;
	position: absolute;
	font-size: $mediumFont;
	top: 80px;
	left: 50px;
	color: #999;
	z-index: 50;
	opacity: 1;
}

.ad-display-nav {
	position: absolute;
	left: 40%;
	bottom: 0;
	z-index: 40;
}

.ad-display-nav > button {
	float: left;
	color: #ccc;
	text-transform: uppercase;
	font-size: 1em;
	padding: 5px 25px;
	z-index: 40;
	cursor: pointer;
	@extend .transition-all-fast;
}

.ad-display-nav > button:hover {
	color: #f3f3f3;
	text-shadow: 0 0 1px #f3f3f3;
}


.slick-dots {
	top: 0;
	right: 25px;
	width: auto;
}

.slick-next, .slick-prev {
	width: 200px;
	z-index: 10;
	position: absolute;
	height: 0px;
}

.header-spacer {
	width: 50px;
	height: 500px;
	position: absolute;
	top:0;
	z-index: 30;
}

.header-left-arrow {
	left: 0px;
	background: black;
}

.header-right-arrow {
	right: 0px;
}

.header-info-container {
	width: 550px;
	box-sizing: border-box;
	height: 330px;
	position: absolute;
	top: 170px;
	left: 50px;
	color: #ccc;
}

.feature-title {
	position: absolute;
	top: 25px;
	left: 50px;
	display: block;
	box-sizing: border-box;
	text-shadow: 3px 3px 20px black;
	font-size: $biggerFont;
	font-weight: bold;
	z-index: 40;
}

.feature-description {
	margin: 10px 0;
	font-size: $mediumFont;
	box-sizing: border-box;
}

.feature-info-bar {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	margin: 10px 0;
}

.feature-info-item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	width: 100%;
	margin: 3px 10px 3px 0;
}

.feature-info-item > strong, li {
	margin-right: 10px;
}

.feature-info-item > p {
	color: #ccc;
}

.feature-my-list {
	margin-top: 10px;
  padding: 4px;
  text-align: left;
  border: 3px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
	height: 35px;
	width: auto;
  font-weight: 900;
  font-size: $mediumFont;
}

.my-list-bubble {
	font-size: $largeFont;
	text-align: center;
	border-radius: 50%;
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	transition: border-radius, width 100ms ease-in
}

.feature-my-list:hover {
	width: auto;
	overflow: hidden;
	border-radius: 5px;
	transition: border-radius, width 300ms ease-in, background-color 300ms linear;
	background-color: #ccc;
	color: #141414;
}

.ad-review-flex-container {
	float:left;
	width: 60%;
	height: 310px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	overflow: hidden;
}

.ad-review-title {
	width: 100%;
	display: block;
	padding: 5px;
	font-weight: bold;
	font-size: $mediumFont;
	box-sizing: border-box;
}

.ad-review-flex-article {
	width: auto;
	height: auto;
	padding: 10px;
	flex-grow: 1;
	flex-basis: 130px;
}

.ad-link:hover {
	color: white;
	text-shadow: 0 0 1px white;
	cursor: pointer;
}

.review-flex-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.review-h3 {
	font-weight: bold;
	margin-right: 5px;
}

.ad-review-right-panel {
	float: left;
	width: 40%;
	height: 320px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 0 10px;
}

.ad-review-flex-form {
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.ad-review-flex-button {
	justify-content: center;
	align-items: center;
	align-content: center;
}

.ad-review-button {
	width: 20%;
	border-radius: 10px;
	background: #E50914;
	padding: 15px;
	margin-top: 15px;
}
.ad-review-button:hover {
	background: #f40612;
	cursor: pointer;
}

.review-details {
	position: relative;
	height: 500px;
}

.ad-review-cancel {
	width: 20%;
	border-radius: 10px;
	background: #999;
	padding: 15px;
}
.ad-review-cancel:hover {
	background: #ccc;
	cursor: pointer;
}

.button-flex-form-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 10px;
	width: 95%;
	justify-content: space-between;;
	align-items: center;
	align-content: flex-start;
	position: relative;
	top: 10px;
}

.review-form-flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 95%;
	justify-content: flex-start;;
	align-items: stretch;
	align-content: flex-start;
}

.form-review-input {
	width: 100%;
	padding: 5px;
	background: rgba(0,0,0,0.7);
	border-radius: 5px;
}

.form-review-area {
	min-width: 100%;
	max-width: 100%;
	height: 190px;
	flex-grow: 1;
	flex-basis: 200px;
	overflow:scroll;
	max-height: 190px;
	min-height: 190px;
}

.review-form-h3 {
	padding: 10px;
	font-size: $mediumFont;
	font-weight: bold;
	margin-right: 5px;
}

.dark-background {
	background: #141414;
}

.feature-background-image{
	background-image: asset-url("default.jpg");
	background-size: cover;
	width: 80%;
	height: 500px;
	display: block;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	right: 0;
	top: 0;
}

.back-grade {
	background-image: asset-url("BackGradiant.png");
	background-size: cover;
	position: relative;
	height: 500px;
	width: 600px;
	z-index: 10;
}

.bottom-grade {
	background-image: asset-url("nav-shadow.png");
	background-size: cover;
	position: absolute;
	bottom:0px;
	left: 0px;
	z-index: 20;
	height: 150px;
	width: 100%;
}

.close-modal-button {
	display: block;
	font-size: $largeFont;
}

.modal-review-header {
	color: #ccc;
	font-size: $largeFont;
	padding: 10px;
	box-sizing: border-box;
	position: fixed;
	height: 10vh;
	width: 80vw;
	border-top: 5px solid #E50914;
	border-bottom: 1px solid #333;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;;
	align-items: center;
	align-content: center;
	border-bottom: 1px solid #333;
}
.modal-header-text {
	color: #ccc;
	padding: 1px;
}

body,
.scrollY {
  overflow-y: auto;
}


.modal-review-spacer {
	font-size: $largeFont;
	height: 3em;
}

.modal-ad-review {
	width: 100%;
	font-size: $mediumFont;
  height: auto;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 200px;
}

.modal-footer {
	height: 3em;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.modal-review-body {
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: scroll;
  position: fixed;
  top: 20vh;
	height: 60vh;
	width: 80vw;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  border-bottom: 1px solid #333;
}

.video-main-container {
	padding: 150px;
	display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.disable-scroll {
	overflow: hidden;
}

.modal-ad-fix {
	padding: 30px 0;
}
